/*
    Comentarios
*/

/*
* {
    border: 1px solid black;
}
*/

h2 {
    color: cyan;
}



table, td, th {
    border: 1px solid black;
}

p.center {
    text-align: center;
    color: red;
}

.boton {
    padding: 5px 10px;
    text-decoration: none;
}

.boton-principal {
    background-color: azure;
}

.boton-secundario {
    background-color:gray;
}

#val1 {
    color: green;
}